# Copia este archivo como .env y completa los valores
# NO subas el archivo .env a GitHub

MONGODB_URI=mongodb+srv://usuario:password@cluster.mongodb.net/laboratorios
PORT=3000

# Gmail SMTP
SMTP_USER=tucorreo@gmail.com
SMTP_PASS=xxxx_xxxx_xxxx_xxxx

# Correos administradores
ADMIN_EMAIL=admin@colegio.edu
ADMIN_HS_EMAIL=admin.bachillerato@colegio.edu
ADMIN_MS_EMAIL=admin.makerspace@colegio.edu
ADMIN_PRIMARY_EMAIL=admin.primaria@colegio.edu
